.Collection{
    background-color: white;

    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.3);

    border-radius: 18px;
    border: none;

    width: 380px;
    height: 420px;

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Collection__bigWrapper{
    width: 350px;
    height: 200px;

    border-radius: 20px;

    overflow: hidden;
}

.Collection__rowContainer{
    width: 340px;
    height: 120px;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

.rowContainer__smallWrapper{
    width: 100px;
    height: 100px;

    border-radius: 20px;

    overflow: hidden;
}

.Collection__label{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.Collection__tag{
    display: inline-block;
    width: fit-content;

    color: white;
    font-size: 12px;
    padding: 3px;

    border-radius: 6px;

    background-color: red;
}

.pic{
    width: 100%;
    height: 100%;
}